<h2 class="text-warning">Table of Contents</h2>
<img class="w-100 border border-danger" src="{{ '/assets/imgs/babas/chillum.jpg' | absolute_url }}" />
<p class="text-warning py-3" style="text-align: center; font-size: 1rem;"><em>Aghori Sadhu, Varnasi</em></p>

<ul class="list-unstyled">
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/ag/history' | absolute_url }}">History</a>
  </li>
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/ag/gurus' | absolute_url }}">24 Gurus</a>
  </li>
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/ag/mataji' | absolute_url }}">Great Mother</a>
  </li>
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/ag/manohar' | absolute_url }}">Manohar Das</a>
  </li>
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/ag/kishan' | absolute_url }}">Kishan Das</a>
  </li>
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/ag/govinda' | absolute_url }}">Govinda Das</a>
  </li>
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/ag/radhika' | absolute_url }}">Radhika Dasi</a>
  </li>
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/ag/saraswati' | absolute_url }}">Saraswati Dasi</a>
  </li>
</ul>
