<h2 class="text-warning">Table of Contents</h2>
<img class="w-100 border border-danger" src="{{ '/assets/imgs/devas/kali.gif' | absolute_url }}" />
<p class="text-warning py-3" style="text-align: center; font-size: 1rem;"><em>Ma Kali</em></p>

<ul class="list-unstyled">
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/devas/mahavidya' | absolute_url }}">Dasa Mahavidya</a>
  </li>
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/devas/guhyakali' | absolute_url }}">Guhyakali</a>
  </li>
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/devas/kali' | absolute_url }}">Kali-Ma</a>
  </li>
  <li>
    <a class="btn btn-danger btn-sm w-100" href="{{ '/devas/dattatreya' | absolute_url }}">Dattatreya</a>
  </li>
</ul>
