<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="agori-nav">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{{ '/assets/imgs/logo.png' | absolute_url }}" height="40" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link text-danger" aria-current="page" href="{{ '/' | absolute_url }}">
            <i class="fa fa-home"></i>  Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" aria-current="page" href="{{ '/ag/main' | absolute_url }}">
            <i class="fa-solid fa-skull"></i> Aghori
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="{{ '/sadhana/main' | absolute_url }}">
              <i class="fa-solid fa-om"></i> Sadhana
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" aria-current="page" href="{{ '/devas/mahavidya' | absolute_url }}">
              <i class="fa-solid fa-cloud-moon"></i> Devas
            </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control bg-danger me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit">Search</button>
        </form>
      </div>
      
    </div>
  </nav>

</header>

