<h2>Table of Contents</h2>
<img class="border border-warning img-fluid" src="{{ '/assets/imgs/devas/Dattatreya.png' | absolute_url }}" />
<p class="text-warning" style="text-align: center">Dattatreya</p>
<hr />

<ul>
  <li>
    <a class="text-danger" href="{{ '/mantras/aghori' | absolute_url }}">Aghori Mantra</a>
  </li>
  <li>
    <a class="text-danger" href="{{ '/mantras/aghora-kavacham' | absolute_url }}">Aghora Kavacham</a>
  </li>
  <li>
    <a class="text-danger" href="{{ '/mantras/sahasranam' | absolute_url }}">Aghoramurti Sahasranama</a>
  </li>
  <li>
    <a class="text-danger" href="{{ '/mantras/namavali' | absolute_url }}">Dattatreya Ashtottara Sata Namavali</a>
  </li>
</ul>