<h2 class="text-warning">Table of Contents</h2>
<img class="w-100 border border-danger" src="{{ '/assets/imgs/devas/kali-raja.jpg' | absolute_url }}" />
<p class="text-warning py-3" style="text-align: center; font-size: 1rem;"><em>Ma Kali</em></p>

<ul class="list-unstyled">
  <li><a class="btn btn-danger btn-sm w-100" href="#">Japa</a></li>
  <li><a class="btn btn-danger btn-sm w-100" href="#">Yantra</a></li>
  <li><a class="btn btn-danger btn-sm w-100" href="#">Mantra</a></li>
  <li><a class="btn btn-danger btn-sm w-100" href="#">Tantra</a></li>
  <li><a class="btn btn-danger btn-sm w-100" href="#">Mudra</a></li>
  <li><a class="btn btn-danger btn-sm w-100" href="#">Puja</a></li>
  <li><a class="btn btn-danger btn-sm w-100" href="#">Meditation</a></li>
  <li><a class="btn btn-danger btn-sm w-100" href="#">Navaratri</a></li>
  <li><a class="btn btn-danger btn-sm w-100" href="#">Havan</a></li>
  <li><a class="btn btn-danger btn-sm w-100" href="#">Agni Vidhi</a></li>
  <li><a class="btn btn-danger btn-sm w-100" href="#">Chandi Homam</a></li>
</ul>
